form
  .form-row
    .form-group.col-md-6
      label(for='inputEmail4') Email
      input.form-control#inputEmail4(type='email')
    .form-group.col-md-6
      label(for='inputPassword4') Password
      input.form-control#inputPassword4(type='password')
  button.btn.btn-primary(type='submit') Sign in
